/* explore layout */

/* explore */

#explorestage {
    z-index: 4;
    display: none;
}

.discover {
    background: url('bg-explore.jpg') no-repeat;
    /* height: 200vh; */
    padding-top: 250px;
    /* width: 100vw; */
}



.namedirect {
    width: 100%;
    text-align: center;
    color: #fff;
}

.namedirect div h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

.namedirect div h2 {
    text-transform: uppercase;
    font-size: 50px;
}

.namedirect div p {
    font-size: 15px;
}

/*  */

.discoverPicContainer {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 0 12px;
    /* margin-top: 50px; */
    margin: 50px 20px 0 20px;
    position: relative;
    z-index: 5;
}

.discoverPicContainer > .discoverPic {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pointer-discover {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.3;
    z-index: 4;
}

.pointer-discover ion-icon {
    color: #000;
}

.pointer-discover-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.pointer-discover-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.pointer-discover:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.des-pic-discover {
    position: absolute;
    padding: 30px 40px;
    bottom: 30px;
    right: -100%;
    border: 1px solid rgba(64, 66, 69, 0.9);
    background-color: rgba(40, 43, 47, 0.9);
    border-radius: 20px;
    transition: all 0.5s;
}

.sub-des-pic-discover {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* margin-bottom: 15px; */
}

.discoverPic img {
    width: 100%;
}

.discoverPic:hover .des-pic-discover{
    right: 30px;
    cursor: pointer;
}

.sub-des-pic-discover img {
    border-radius: 50%;
}

/* explore2 */

.discover2 {
    background: url('bg-explore2.jpg') no-repeat    ;
    /* height: 200vh; */
    padding: 400px 0 120px 0;
    position: relative;
    transform: translateY(-17%);
    /* box-sizing: content-box; */
}

.container-discover2 {
    position: relative;
}

.cross {
    position: absolute;
    height: 2px;
    top: 26%;
    width: 100px;
    left: 15%;
    /* transform: translateY(-50%); */
    background-color: #7453fc;
}

/* searching */

.searching {
    display: flex;
    flex-direction: row;
    /* padding: 0 30px; */
    /* max-width: 1140px; */
    margin: 0 70px;
    padding: 0 12px;
}

.searching > div {
    padding: 0 12px; 
}

.searching1 {
    color: #fff;
    font-size: 27px;
    margin-bottom: 80px;
    font-weight: 700;
    flex-basis: 50%;
    justify-content: left;
    text-align: left;
}
.searching1 p {
    margin-top: 10px;
}

.searching2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searching2 > div{
    padding: 10px 15px 0 15px;
    /* overflow: hidden; */
    border-radius: 23px;
    height: 46px;
    position: relative;
}

.searching2 div input {
    height: 46px;
    border-radius: 23px;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    outline: none; 
}

.choiceBox {
    height: 46px;
    border-radius: 23px;
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.summit {
    height: 46px;
    border-radius: 23px;
    padding: 8px 25px!important;
    background-color: #7453fc;
    color: #fff;
    border: 1px solid #ccc;
    transform: translateY(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    transition: all 0.5s;
}

.summit:after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: #fff;
}

.summit > a {
    color: #fff;
}

.summit:hover {
    cursor: pointer;
    background-color: #fff;
    color: #7453fc;
}

.summit:hover a {
    color: #7453fc;
}

.shadow {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.searching2 div ion-icon{
    position: absolute;
    right: 30px;
    top: 50%;
    color: #fff;
    transform: translateY(2px);
}
.searching2 div ion-icon:hover {
    cursor: pointer;
}

.choice {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #fff;
    position: absolute;
    width: 87%;
    padding: 4px 4px;
    border-radius: 23px;
    top: 130%;
    font-size: 12px;
    z-index: 5; 
    /* display: none; */
}

.unable {
    display: none;
}

.choice li {
    padding: 12px;
    border-radius: 23px;
}

.choice li:hover {
    cursor: pointer;
    background-color: #fff;
    color: #7453fc  ;
}

/* product-discover2 */

.product-discover2 {
    display: flex;
    flex-direction: column;
    margin: 50px 70px 0 70px; 
    padding: 0 12px;
}

.pro-dis2-col {
    display: flex;
    flex-direction: row;
}

.coverBox {
    padding: 0 12px;
    color: #fff;
    margin-bottom: 52px;
    position: relative;
    
}

.boxButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #7453fc;
    border-radius: 25px;
    transition: all 0.5s;
}

.boxButton div{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px 30px;
}

.boxButton div:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 2px;
    background-color: #fff;
    width: 70%;
    transform: translateX(25%);
}

.box {
    padding: 50px 30px 30px 30px;
    background-color: #282b2f;
    border: 1px solid #404245;
    border-radius: 20px;
}

.box-img img {
    width: 100%;
    border-radius: 20px;
}

.box-img {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    position: relative;
}

.box-img h4 {
    margin-top: 30px;
    font-size: 20px;
}

.col-price {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-bottom: 20px;
}

.col-price div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.col-price div:nth-child(2) span {
    width: 50%;
    padding: 0 12px;
    font-size: 16px;
}

.line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    margin: 30px 0;
}

.avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    /* border-radius: 50%; */
    overflow: hidden;
    /* padding-top: 20px; */
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.boxButton:hover {
    cursor: pointer;
    background-color: #fff;
    color: #7453fc;
}


